<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>music</title>
</head>
<body>
    <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css'%}">
    </head>
<h1>music library</h1>
<P>music library is a place where you can find the information about the most beautiful songs from your favourite artists</P>

<h2>Rock</h2>
<p>Rock music is a broad genre of popular music that originated as "rock and roll" in the united state in the late 1940s and early 1950s</p>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Chuck_Berry_circa_1958.jpg/170px-Chuck_Berry_circa_1958.jpg">

<h3>Famous Artist:</h3>
<h4>jimi Hendrix</h4>
<h4>Edmond monty</h4>
<h4>Chuck_Berry</h4>
<h4>elis mike</h4>

<h2>wikimedia</h2>
<a href ="https://en.wikipedia.org/wiki/Rock_music">Rock music </a>

<h3>Typical instruments </h3>
<ul>
    <li>Bass guitar</li>
    <li>electric guitar</li>
    <li>Electronic drum</li>
</ul>

<h3>Cultural origins</h3>
<p>1950s and 1960s, US and UK</p>

</body>
</html>